@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

/* style.css */
@layer utilities {
  .border-gradient {
    background: linear-gradient(to right, blue, red);
    padding: 1px; /* untuk membuat efek border tipis */
    border-radius: 1rem;
  }
  .border-gradient-inner {
    border-radius: 0.95rem; /* sedikit lebih kecil dari luar */
    background-color: #1d1f23; /* atau bg-white, atau dark:bg */
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-pagination .swiper-pagination-bullet {
  @apply bg-gray-800 rounded-full transition-all;
}

/* Aktif */
.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-[#1DC457];
}

/* Dark mode */
.dark .custom-pagination .swiper-pagination-bullet {
  @apply bg-white;
}

.dark .custom-pagination .swiper-pagination-bullet-active {
  @apply bg-[#1DC457];
}

.text-animate-hover {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(to right, #18ab53 0%, #18ab53 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 0.5s ease, -webkit-text-fill-color 0.5s ease;
}

.text-animate-hover:hover {
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
}

.dark .dark-text-animate-hover {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size 0.5s ease, -webkit-text-fill-color 0.5s ease;
}
.dark .dark-text-animate-hover:hover {
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important; /* warna teks */
  transition: background-color 5000s ease-in-out 0s;
}
.dark input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}
